/*reset start*/
h1,
h2,
h3,
h4,
h5,
h5,
ul,
p{
    margin: 0;
}
.link{
    text-decoration: none;
    color: currentColor;
}
.list{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.img{
    display: block;
}
/*reset end*/
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
body{
    font-family: "Roboto", "Raleway";
}
:root{
    --article-color: #212121;
    --article-descr-color:#757575;
    --section-background-color:#2F303A;
    --btns-links-color:#2196F3; 
}
.logo{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-family: 'Raleway';
    padding-top: 24px;
    padding-bottom: 25px;
    margin-top: 60px;
    margin-bottom: 20;
}
.logo-header{
    color: #000000;
}
.menu{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
}
.menu:hover{
    color: var(--btns-links-color)
}

.menu:active{
    color: var(--btns-links-color) 
}
.menu:focus{
    color: var(--btns-links-color)
}
.contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
}
.contacts:hover{
    color: var(--btns-links-color)
}
.contacts:focus{
    color: var(--btns-links-color)
}
.contacts:active{
    color: var(--btns-links-color)
}
.hero{
    position: absolute;
    font-size: 44px;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF; 
    font-weight: 900;
    padding-top:  200px;
    padding-bottom: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.section-background{
    width: 1600px;
    left: 0px;
    top: 80px;
    background: var(--section-background-color)
}
.btn-order{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 700;
    top: 50;
    bottom: 200px;
    left: 692px;
    right: 692px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
    margin-top: 30px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: var(--btns-links-color)
}
.advantages{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color:var(--article-color)
}
.advantages-descr{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: space-between;
    color: var(--article-descr-color)
}
.occupation{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    color: var(--article-color)
}
.section-background-workers{
    background: #F5F4FA;
}
.team{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 94px;
    padding-bottom: 50px;
}
.name{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
    padding-bottom: 10px;
    color: var(--article-color)
}
.position{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1875;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
    color: var(--article-descr-color)
}
.footer-background{
    background: var(--section-background-color)
}
.logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 20px;
}
.adress{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.portfolio-categories{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
   padding: 6px 25px;
   margin-top: 174px;
   margin-bottom: 50px;
}
.portfolio-categories:hover{
    color: #FFFFFF;
    background-color: var(--btns-links-color)
}
.portfolio-categories:focus{
    color: #FFFFFF;
    background-color: var(--btns-links-color)
}
.portfolio-categories:active{
    color: #FFFFFF;
    background-color: var(--btns-links-color)
}
.project{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 4px;
    color: var(--article-color) 
}
.portfolio-categories-item{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    color: var(--article-descr-color)
}
.contacts-footer{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contacts-footer:hover{
    color: #2196F3;
}
.contacts-footer:focus{
    color: #2196F3;
}
.contacts-footer:active{
    color: #2196F3;
}